<div>
    <form method='post'>
        <label>Write name of contact please:</label>
        <input type='text' name='contact' placeholder='name of contact'><br>

        <label>Write name of customer please:</label>
        <input type='text' name='customer' placeholder='name of customer'>
        <input type='date'  name='date'><br>

        <label>Write name of lead please:</label>
        <input type='text' name='lead' placeholder='name of lead'><br>

        <label>Write name of company please:</label>
        <input type='text' name='company' placeholder='name of company'><br>

        <label>How items you want create?</label>
        <input type='number' min='1' max='10000' name='number' placeholder='number'><br>

        <input type='submit'  name='click' value='Отправить'><br>
        <input type='submit'  name='destroy' value='Очистить сессию'><br>
    </form>
</div>