<div>
    <form method='post'>
        <input type='text' name='contact' placeholder='name of contact'><br>

        <input type='text' name='customer' placeholder='name of customer'><br>

        <input type='text' name='lead' placeholder='name of lead'><br>

        <input type='text' name='company' placeholder='name of company'><br>

        <input type='number' min='1' max='10000' name='amount' placeholder='number'><br>

        <input type='submit'  name='click' value='Отправить'><br>
    </form>
</div>