<div>
    <form method='post'>
        <label>Для создания простого примечания заполни все поля кроме номера телефона</label><br>
        <label>Для создания входящего звонка введи только номер телефона</label><br>
        <select name='option'>
            <option value='commonNotation'>Простое примечание</option>
            <option value='incomingCall'>Входящий звонок</option>
        </select><br>

        <select name='typeItem'>
            <option value='1'>Контакт</option>
            <option value='2'>Сделка</option>
            <option value='3'>Компания</option>
            <option value='12'>Покупатель</option>
        </select><br>

        <input type='text' name='id' placeholder='id of element'><br>
        <input type='text' name='text' placeholder='text of notation'><br>

        <input type='tel' name='phone' placeholder='phone number' pattern="8[0-9]{10}"><br>

        <input type='submit'  name='click' value='Отправить'><br>
    </form>
</div>