<div>
    <form method='post'>
        <label>Для создания задачи заполни все поля, для завершения введи id задачи</label><br>
        <label>При создании задачи указывается id сущности, при завершении задачи id задачи</label><br>
        <select name='option'>
            <option value='create'>Создание</option>
            <option value='update'>Завершение</option>
        </select><br>
        <select name='typeItem'>
            <option value='1'>Контакт</option>
            <option value='2'>Сделка</option>
            <option value='3'>Компания</option>
            <option value='12'>Покупатель</option>
        </select><br>
        <select name='typeTask'>
            <option value='1'>Звонок</option>
            <option value='2'>Встреча</option>
            <option value='3'>Письмо</option>
        </select><br>
        <input type='text' name='id' placeholder='id of element'><br>
        <input type='text' name='text' placeholder='text of task'><br>
        <input type='submit'  name='click' value='Отправить'><br>
    </form>
</div>