<div>
    <form method='post'>
        <input type='text' name='nameMulti' placeholder='название'><br>

        <input type='text' name='list[]' placeholder='пункт 1'><br>
        <input type='text' name='list[]' placeholder='пункт 2'><br>
        <input type='text' name='list[]' placeholder='пункт 3'><br>
        <input type='text' name='list[]' placeholder='пункт 4'><br>
        <input type='text' name='list[]' placeholder='пункт 5'><br>
        <input type='text' name='list[]' placeholder='пункт 6'><br>
        <input type='text' name='list[]' placeholder='пункт 7'><br>
        <input type='text' name='list[]' placeholder='пункт 8'><br>
        <input type='text' name='list[]' placeholder='пункт 9'><br>
        <input type='text' name='list[]' placeholder='пункт 10'><br>

        <input type='submit'  name='click' value='Отправить'><br>
    </form>
</div>